<header>
  <img src="task-management-logo.png" alt="A todo list" />
  <ul class="nav">
  <li><a routerLink="/employees" routerLinkActive="active">Employees</a></li>
  <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
  <li><a routerLink="/posts" routerLinkActive="active">Posts</a></li>
  <li><a routerLink="/comments" routerLinkActive="active">Comments</a></li>
  <li><a routerLink="/invest" routerLinkActive="active">Invest</a></li>
  <li><a routerLink="/status" routerLinkActive="active">Status</a></li>
  <li><a routerLink="/lifecycle" routerLinkActive="active">Lifecycle</a></li>
  <li><a routerLink="/directive" routerLinkActive="active">Directive</a></li>
  <li><a routerLink="/pipe" routerLinkActive="active">Pipe</a></li>
  <li><a routerLink="/service" routerLinkActive="active">Service Example</a></li>
</ul>
  <div>
    <h1>EasyTask</h1>
    <p>Enterprise-level task management without friction</p>
  </div>
</header>


