<h2>Employee List</h2>

<label for="position">Filter by Position:</label>
<select id="position"
        [ngModel]="selectedPosition$ | async"
        (ngModelChange)="onPositionChange($event)">
  <option value="">ALL</option>
  <option *ngFor="let pos of positions$ | async" [value]="pos">{{ pos }}</option>
</select>

<ul>
  <li *ngFor="let employee of pagedEmployees$ | async">
    {{ employee.name }} - {{ employee.position }}
  </li>
</ul>

<app-pagination
  [totalItems]="(filteredEmployees$ | async)?.length || 0"
  [itemsPerPage]="itemsPerPage"
  [currentPage]="currentPage"
  (pageChange)="onPageChange($event)">
</app-pagination>